@using System.Security.Policy
@using MapSolutions.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/dashboard.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/leftacc_menu.css")" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    @RenderSection("Styles", false)
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink("About me", "About", "Home")</li>

                <li>@Html.ActionLink("Examples", "Examples", "Home")</li>

                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

            </ul>

        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div id='cssmenu'>
                    <ul>
                        <li><a href='@Url.Action("About", "Home")'><span>About me</span></a></li>
                        <li class='has-sub'>
                            <a href='@Url.Action("Examples", "Home")'><span>Examples</span></a>
                            <ul>
                                <li class='has-sub'>
                                    <a href='#'><span>Google Maps API</span></a>
                                    <ul>
                                        <li><a href='@Url.Action("GoogleMapTweets", "GoogleMapTweets")'><span>Tweets on Google Map</span></a></li>
                                        <li><a href='@Url.Action("LondonTrafficAccidents", "LondonTrafficAccidents")'><span>London Traffic Accidents</span></a></li>
                                        <li><a href='@Url.Action("LondonTrafficAccidentsHeatMaps", "LondonTrafficAccidentsHeatMaps")'><span>Traffic Accidents Heatmap</span></a></li>
                                        <li class='last'><a href='@Url.Action("LondonTrafficAccidentsByBorough", "LondonTrafficAccidentsByBorough")'><span>Traffic Accidents by Boroughs</span></a></li>
                                    </ul>
                                </li>
                                <li class='has-sub'>
                                    <a href='#'><span>OpenLayers API</span></a>
                                    <ul>
                                        <li class='last'><a href='@Url.Action("LondonAccByMonths", "LondonAccByMonths")'><span>Traffic Accidents by Months</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class='last'><a href='@Url.Action("Contact", "Home")'><span>Contact</span></a></li>
                    </ul>
                </div>
            </div>
            @RenderSection("Scripts", false)
            @RenderBody()
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
<script src="~/Scripts/jsrender.min.js"></script>
<script src="@Url.Content("~/js/bootstrap.js")"></script>
<script src="@Url.Content("~/js/leftacc_menu.js")"></script>
        </body>
</html>