@{
    ViewBag.Title = "GoogleMapTweets";
}

@section Styles {
    <link href="@Url.Content("~/css/twitter-controls.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/jScrollPane.css")" rel="stylesheet">

}

@section scripts {

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCj9qncPO3kdmU2qYNRYS8kTrpf8_JDprs&sensor=false&extension=.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>

    <script type="text/javascript" src="@Url.Content("~/scripts/twitterApi.js")"></script>
    <script id="tweetTemplate" type="text/x-jsrender ">
    <div>{{:#index+1}}: <b> {{:UserName}} </b> - {{:TweetBody}}</div>
    </script>

}
<div class="row">
    <div class="col-sm-5 col-sm-offset-3 col-md-7 col-md-offset-2 main">
        <div class="col-sm-5" id="map-canvas"></div>
        <div class="col-md-9 ">
            <div class="input-group">
                &nbsp<input id="radiusSlider" type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="1"/>
                <span id="radiusLabel">&nbsp&nbspSearch radius (km): <span id="radiusVal">1</span></span>

            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon">Search pattern</span>
                <input id="searchPattern" type="text" class="form-control" placeholder="...">
            </div>
            <p class="text-justify">
                <br />
                In this example, I used Google Maps API and Twitter API capabilities to allow users to search geotagged tweets.
                <br />
                The search is performed inside the user-defined radius up to 20 km. The list of found tweets is limited to 100 tweets (Twitter API limitation).
                <br />
                Also, users can define a search string.
                <br />
                This tool is suitable for monitoring what people are saying about events, accidents, etc... that happened in a specified area.
                <br />
            </p>
            <p class="text-justify text-danger">
                Used Technologies: Google Maps API, Twitter API, MVC Web API.
            </p>
        </div>
       
    </div>
    <div class="col-sm-2 col-md-3">
        <div id="twitter-ticker">
            <div id="top-bar">
                <div id="twitIcon">
                    <img src="../../img/twitter_64.png" width="64" height="64" alt="Twitter icon"/>
                </div>
                <h2 class="tut">Tweet list</h2>
            </div>
            <div id="tweet-container">
            </div>
        </div>
    </div>

</div>
<script>
    $("#radiusSlider").slider();
    $("#radiusSlider").on("slide", function(slideEvt) {
        $("#radiusVal").text(slideEvt.value);
    });
</script>
<script src="@Url.Content("~/js/jquery.mousewheel.js")"></script>
<script src="@Url.Content("~/js/jScrollPane.min.js")"></script>




